<?php
/**
 * Settings page functionality for <%= pluginName %>
 *
 * @package <%= pluginName %>
 */

// If this file is called directly, abort.
if ( ! defined( 'WPINC' ) ) {
	die;
}

/**
 * Add settings menu item
 */
function <%= pluginSlug.replace(/-/g, '_') %>_add_settings_menu() {
	add_options_page(
		__( '<%= pluginName %> Settings', '<%= pluginSlug %>' ),
		__( '<%= pluginName %>', '<%= pluginSlug %>' ),
		'manage_options',
		'<%= pluginSlug %>-settings',
		'<%= pluginSlug.replace(/-/g, '_') %>_settings_page'
	);
}
add_action( 'admin_menu', '<%= pluginSlug.replace(/-/g, '_') %>_add_settings_menu' );

/**
 * Register settings
 */
function <%= pluginSlug.replace(/-/g, '_') %>_register_settings() {
	// Register a new setting for our options page
	register_setting(
		'<%= pluginSlug %>_options',
		'<%= pluginSlug %>_options',
		array(
			'sanitize_callback' => '<%= pluginSlug.replace(/-/g, '_') %>_validate_options',
		)
	);

	// Register a new section
	add_settings_section(
		'<%= pluginSlug %>_general_section',
		__( 'General Settings', '<%= pluginSlug %>' ),
		'<%= pluginSlug.replace(/-/g, '_') %>_general_section_callback',
		'<%= pluginSlug %>-settings'
	);

	// Register fields
	add_settings_field(
		'<%= pluginSlug %>_example_field',
		__( 'Example Field', '<%= pluginSlug %>' ),
		'<%= pluginSlug.replace(/-/g, '_') %>_example_field_callback',
		'<%= pluginSlug %>-settings',
		'<%= pluginSlug %>_general_section'
	);
}
add_action( 'admin_init', '<%= pluginSlug.replace(/-/g, '_') %>_register_settings' );

/**
 * General section callback
 */
function <%= pluginSlug.replace(/-/g, '_') %>_general_section_callback() {
	echo '<p>' . __( 'Configure the general settings for the plugin.', '<%= pluginSlug %>' ) . '</p>';
}

/**
 * Example field callback
 */
function <%= pluginSlug.replace(/-/g, '_') %>_example_field_callback() {
	$options = get_option( '<%= pluginSlug %>_options' );
	$value = isset( $options['example_field'] ) ? $options['example_field'] : '';
	?>
	<input type="text" id="<%= pluginSlug %>_example_field" name="<%= pluginSlug %>_options[example_field]" value="<?php echo esc_attr( $value ); ?>" />
	<p class="description"><?php _e( 'Description for this field.', '<%= pluginSlug %>' ); ?></p>
	<?php
}

/**
 * Validate options
 */
function <%= pluginSlug.replace(/-/g, '_') %>_validate_options( $input ) {
	$output = array();

	// Sanitize each option
	if ( isset( $input['example_field'] ) ) {
		$output['example_field'] = sanitize_text_field( $input['example_field'] );
	}

	return $output;
}

/**
 * Render settings page
 */
function <%= pluginSlug.replace(/-/g, '_') %>_settings_page() {
	// Check user capabilities
	if ( ! current_user_can( 'manage_options' ) ) {
		return;
	}

	?>
	<div class="wrap">
		<h1><?php echo esc_html( get_admin_page_title() ); ?></h1>
		
		<form action="options.php" method="post">
			<?php
			// Output security fields
			settings_fields( '<%= pluginSlug %>_options' );
			
			// Output setting sections and their fields
			do_settings_sections( '<%= pluginSlug %>-settings' );
			
			// Output submit button
			submit_button();
			?>
		</form>
	</div>
	<?php
} 